$white-base: #F6F6F6;
$white-glo: #F6F6F6;
$black-glo: #2A2C2C;
$black-glo--hover: #1a1b1b;
$grey-glo: #727878;
$coral-glo: #F4C670;
$green-success-300: #EBF7ED;
$green-success-500: #36AB4D;
$red-error-300: #FF9494;
$red-error-500: #bf3030;