@import "/utilities/";

.headerButtons{

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 144px;
    height: 40px;

    margin-left: 112px;

    border-radius: 100px;
    background-color: $black-glo;

    &__button{
        color: $white-glo;
    }
}